.login-page {
  align-items: center;
  justify-content: center;
  .auth-container {
    width: 100%;
    .firebaseui-info-bar {
      margin-top: 20px;
    }

    .mdl-shadow--2dp {
      box-shadow: none;
    }

    .mdl-progress {
      height: 5px;
    }

    div.mdl-progress::after {
      color: black;
      content: '';
      display: block;
      margin: 20px auto;
      text-align: center;
    }
  }
}
