.home-page.ui.grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    font-size: 2em;
  }

  word-search input {
    width: 20em;
  }

  .statistics {
    margin-top: 5em;
    justify-content: center;
  }
}
