.misspelled-words-page {
  .title.top-level {
    text-align: left;
  }
  .credits {
    margin-top: 1em;
  }
  .reset {
    position: fixed;
    bottom: 5em;
    right: 1em;
  }
  .pdf-container {
    canvas {
      width: 100%;
    }
  }
}
