.misspelled-words-page {
  .loader, .error {
    flex-basis: 100%;
  }
  .list-container {
    display: flex;
    justify-content: center;
    flex-basis: 100%;
  }
  .accordion {
    padding: 0;
    .title.top-level {
      font-weight: bold;
      &:not(.ui) {
        font-size: 1.3em;
      }
      .icon {
        color: red;
      }
    }
    .title {
      text-align: left;
    }
  }
  .credits {
    margin-top: 1em;
  }
  .reset {
    position: fixed;
    bottom: 5em;
    right: 1em;
  }
  .pdf-container {
    canvas {
      width: 100%;
      max-width: 50em;
    }
  }
}
