word-definition {
  .comment {
    .actions {
      width: 8em;
      display: flex;
      justify-content: space-between;
    }

    .actions a.up.reply {
      color: green;
    }

    .actions a.down.reply {
      color: red;
    }
    .text {
      text-align: left;
      font-size: 1.2em;
      p {
        margin-bottom: 0.2em;
      }
    }

    .attribution {
      display: flex;
      justify-content: space-between;
      .actions .reply {
        margin: 0;
      }
    }
    .author-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-basis: 5em;
    }
  }
}
