.word-page {
  h1 {
    display: flex;
    justify-content: space-between;
  }
  .social.icon {
    cursor: pointer;
    color: #3b5998;
  }
  .word-container {
    width: 100vw;
    max-width: 50em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .comments {
    width: 100%;
    margin-top: 3em;
    .comment {
      margin-bottom: 1em;
    }
    img {
      max-width: 100%;
    }
  }
}
