word-definition {
  .comment {
    .actions a.up.reply {
      color: green;
    }

    .actions a.down.reply {
      color: red;
    }
    .text {
      text-align: left;
      font-size: 1.2em;
    }

    .attribution {
      display: flex;
      justify-content: space-between;
      .actions .reply {
        margin: 0;
      }
    }
    .author-info {
      display: flex;
      flex-direction: column;
      align-items: center;

      .avatar img {
        height: 35px;
      }
    }
  }
}
