@import './_theme.scss';
@import '~semantic-ui-css/semantic.min.css';

$body-height: calc(100vh - #{$menu-bar-height});

body {
  height: $body-height;
  font-family: 'Padauk', sans-serif;
}

.app-body {
  position: relative;
  padding: 1em;
  overflow-x: hidden;
  overflow-y: auto;
  padding-bottom: 3em;
  &.ui.grid {
    margin: 0;
    margin-top: $menu-bar-height;
    height: $body-height;
    padding: 1em;
  }

  .sidebar a {
    display: flex;
    justify-content: center;
  }
  width: 100vw;
}

.sidebar.menu a.ui.item {
  display: flex;
  justify-content: center;
}

.sidebar.menu.vertical .sidebar-logout.ui.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ui input[type='text'], .ui.form input[type='text'] {
  line-height: 1em;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  .license {
    display: flex;
  }
}
