@import './_theme.scss';

$body-height: calc(100vh - #{$menu-bar-height});

body {
  height: $body-height;
}

.app-body {
  position: relative;
  padding: 1em;
  &.ui.grid {
    margin-top: $menu-bar-height;
    height: $body-height;
    padding: 1em;
  }

  .sidebar a {
    display: flex;
    justify-content: center;
  }
  width: 100vw;
}

.sidebar.menu a.ui.item {
  display: flex;
  justify-content: center;
}

.sidebar.menu.vertical .sidebar-logout.ui.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
